ul li:nth-child(1){

    color: aquamarine;
}
ul li:nth-child(2){

    color: rgb(234, 110, 211);
}
ul li:nth-child(3){

    color: rgb(226, 234, 110);
}
#pert{

    color: rgb(84, 219, 95);
}
#eq {
    color:rgb(248, 136, 61);
}